:root {
	--color-text: rgb(0, 0, 0);
	--color-red-danger: rgb(207, 121, 8);
}

html {
	height: 100%;
}

main {
	height: 100vh;
}

body {
	background-color: rgb(188, 224, 121);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--color-text);
}

.user {
	background-color: azure;
}

.my-trnsp-btn {
	border: none;
	background: transparent;
	color: var(--color-text);
}
